@import "../utils/mixins.scss";

.card {
  // background-color: blue;
  // max-width: 40%;
  margin: 1.25rem 0.5rem 1.25rem 0;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  &Title {
    // background-color: purple;
    margin-bottom: 0.5rem;
    display: block;

    font-weight: 500;
    font-size: 1.75rem;

    border-bottom: 3px solid #fee33d;
    padding-bottom: 0.5rem;
    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
  }
  @media (max-width: 768px) {
    width: 30dvw;
  }
}
