@import "../utils/mixins.scss";
@import "..//utils/variables";
// !Change the relative position of sleft side display to stop it from crumblee upon others

.divider {
  margin: 1rem 0;
}
.hero {
  &ImageContainer {
    background-color: #0a100d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    // max-width: 400px;
  }
  &Image {
    // width: 100%;
    width: 100%;
    height: auto;
    // background-color: red;
    max-height: 85dvh;
    object-fit: cover;
    opacity: 0.2;
    transition: opacity 0.5s ease 0s;
  }
  &TextContainer {
    width: 100%;
    // background-color: red;

    position: absolute;
  }
  &SubText {
    // background-color: purple;

    color: white;
    text-align: center;

    font-size: 3dvw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    // background-color: violet;
  }
  &Text {
    // background-color: pink;

    // background-color: red;
    text-align: center;
    color: white;
    font-size: 5dvw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 25px #ffffff47;

    white-space: nowrap;
    overflow: hidden;

    display: inline-block;
    overflow: hidden;
    width: 100%;
    animation: typing 2.5s;
    opacity: 1;
    // animation: revealText 1s;
  }
  /*herobutton*/
  &button {
    position: absolute;
    top: 80%;
    left: 45%;
    // transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);

    color: white;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    @media (max-width: 768px) {
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
    }
  }
}
@keyframes updatesShowanimtion {
  from {
    width: 0;
    height: 0;
    background-color: transparent;
    padding-bottom: 0rem;
    margin-top: 0rem;
  }
  to {
    background-color: map-get($ThemeC, "GrayShades", "2");
    padding-bottom: 5rem;
    margin-top: 2rem;
    width: 50%;
    height: 50%;
  }
}

.Updates {
  &Text {
    text-align: start;
    margin-left: 2rem;
  }
  &Container {
    background-color: map-get($ThemeC, "GrayShades", "2");
    cursor: alias;
    border-radius: 2rem;
    // width: 50%;
    width: 50%;
    height: 50%;
  }

  // display: flex;
  // flex-direction: column;
  // align-content: center;
  &Heading {
    @include PrimaryTitle;
  }
}

/*typing effect*/
@keyframes typing {
  from {
    width: 0px;
    opacity: 0;
    text-shadow: 0;
    font-weight: 600;
  }
}
/*Reveal animation*/
@keyframes revealText {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.display {
  &fullrow {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    margin: 2rem;
    align-content: center;
  }
}

.Card {
  &Container {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 20%;
    width: fit-content;
    height: fit-content;

    position: relative;
  }
  &img {
    border-radius: 0.5rem;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 3px 10px 0 rgba(0, 0, 0, 0.106);
  }
  &p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.75rem;
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 0.25rem /* 4px */;
    color: white;
    display: inline-block;
    background-color: rgb(51 65 85);
  }
}

.Content {
  &Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    // background-color: yellow;

    align-items: center;
    justify-content: space-evenly;

    padding: 15dvh 0;
  }
  &Text {
    &Container {
      margin: 20px;
      // background-color: blue;
      max-width: 30dvw;
      @media (max-width: 768px) {
        max-width: 100dvw;
      }
    }
    &Title {
      // background-color: indigo;
      overflow: hidden;
      font-size: 5rem;
      margin-bottom: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
    &Para {
      // background-color: green;
    }
  }
  &Image {
    &Container {
      // background-color: blue;
      max-width: 40%;
      min-width: 40%;
      display: inline;
      @media (max-width: 768px) {
        min-width: 100%;
      }
    }
    &File {
      // background-color: pink;
      // max-width: 50%;
      // margin-left: 10dvh;
      border-radius: 0.25rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  &Reverse {
    flex-direction: row-reverse;
  }
}
.notify {
  &Button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;

    background-color: map-get($ThemeC, "BlueShades", "2");
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 3px 10px 0 rgba(0, 0, 0, 0.106);
    transition: all 0.5s;
    &:hover {
      color: #e48792;
      box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.106);
    }
  }
}
