@import "../utils/mixins.scss";
@import "..//utils/variables";
// !Change the relative position of sleft side display to stop it from crumblee upon others

.divider {
  margin: 1rem 0;
}
.hero {
  &ImageContainer {
    background-color: #0a100d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Image {
    width: 100%;
    // background-color: red;
    max-height: 85dvh;
    object-fit: cover;
    opacity: 0.2;
    transition: opacity 0.5s ease 0s;
  }
  &TextContainer {
    width: 100%;
    // background-color: red;

    position: absolute;
  }
  &SubText {
    // background-color: purple;

    color: white;
    text-align: center;

    font-size: 3dvw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    // background-color: violet;
  }
  &Text {
    // background-color: pink;

    // background-color: red;
    text-align: center;
    color: white;
    font-size: 5dvw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 25px #ffffff77;
    white-space: nowrap;
    overflow: hidden;

    display: inline-block;
    overflow: hidden;
    width: 100%;
    animation: typing 3s;
    // animation: revealText 1s;
  }
  /*herobutton*/
  &button {
    position: absolute;
    bottom: 25dvh;
    @media (max-width: 768px) {
      font-size: 0.75rem;
      width: fit-content;
      height: fit-content;
      top: 40dvh;
    }
  }
}
/*Reveal animation*/
@keyframes revealText {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*typing effect*/
@keyframes typing {
  from {
    width: 0px;
  }
}
.display {
  &div {
    // background-color: green;

    // min-width: 50dvw;
  }
  &fullrow {
    // background-color: yellow;
    display: flex;
    flex-direction: row;
    margin: 100px 100px 100px 0;
    // background-color: yellow;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
  // Left side banner
  &banner {
    // background-color: grey;

    max-width: 20%;
    display: flex;
    flex-direction: column;
    margin-inline: 100px;

    justify-content: space-around;
    @media (max-width: 768px) {
      margin-inline: auto;
      flex-direction: row;
      max-width: 60%;
    }
  }
  &headline {
    // background-color: #fff;
    width: 70%;
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      margin-left: 20%;
    }
  }
}

.banner {
  &Image {
    border-radius: 0.5rem;
    max-height: 10rem;
    object-fit: fill;
    // background-color: red;

    @include xl {
      max-width: 20rem;
    }
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 3px 10px 0 rgba(0, 0, 0, 0.106);
    // margin-bottom: 0.5rem;
    @media (max-width: 768px) {
      max-height: 100px;
    }
  }
}
.Card {
  &Container {
    // background-color: aqua;
    position: relative;
    &:hover .CardHiddenText {
      height: 80%;
    }
  }
  &img {
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 3px 10px 0 rgba(0, 0, 0, 0.106);

    width: 100%;
    height: auto;
  }
  &p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.75rem;
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 0.25rem /* 4px */;
    color: white;
    display: inline-block;
    background-color: rgb(51 65 85);
  }
  &HiddenText {
    display: flex;
    flex-direction: column;
    // justify-content: space-around;

    text-align: center;
    border-radius: 0.5rem /* 4px */;
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 0;
    top: 70px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    transition: 0.5s ease;
    h1 {
      max-height: 20%;
      width: 100%;
      font-size: 4rem;
      text-align: inherit;
      margin: 10% 0 5% 0;
      display: inline;
      white-space: nowrap;
      overflow: hidden;
    }
    h2 {
      text-align: inherit;

      font-size: 1.25rem;

      width: 100%;
    }
  }
}

.Content {
  &Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    // background-color: yellow;

    align-items: center;
    justify-content: space-evenly;

    padding: 15dvh 0;
  }
  &Text {
    &Container {
      margin: 20px;
      // background-color: blue;
      max-width: 30dvw;
      @media (max-width: 768px) {
        max-width: 100dvw;
      }
    }
    &Title {
      // background-color: indigo;
      font-size: 5rem;
      margin-bottom: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }
    &Para {
      // background-color: green;
    }
  }
  &Image {
    &Container {
      // background-color: blue;
      max-width: 40%;
      min-width: 40%;
      display: inline;
      @media (max-width: 768px) {
        min-width: 100%;
      }
    }
    &File {
      // background-color: pink;
      // max-width: 50%;
      // margin-left: 10dvh;
      border-radius: 0.25rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  &Reverse {
    flex-direction: row-reverse;
  }
  &Noreverse {
  }
}
